<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Axza</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <section class="hero">
        <nav>

            <div class="navleft">
                <div>
                    <h1>Axza</h1>
                </div>
                <div class="links">
                    <a href="#">HOME</a>
                    <a href="#">CULTURE</a>
                    <a href="#">WORKS</a>
                    <a href="#">SERVICES</a>
                    <div class="pa">
                        <a href="#">PAGES</a>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <div class="pa">
                        <a href="#">CART</a>
                        <p>(3)</p>
                    </div>
                </div>
            </div>
            <div>
                <button class="contactbtn">

                    <a href="#">Contact us</a>
                    <div class="arrow"><img src="/assets/images/arrowup.png" alt=""></div>
                </button>
            </div>


        </nav>

        <div class="heromain">

            <div class="heroleft">
                <img src="/assets/images/heroimg.png" alt="">

                <div class="pro">
                    <h1>500+</h1>
                    <h2>SUCCESSFUL PROJECTS</h2>
                </div>

            </div>
            <div class="heroright">
                <div>
                    <h1> <span class="small">[innovate]</span> ELEVATING <br> BUSINESS THROUGH <br> EXPERTISE <span
                            class="small">[success]</span></h1>
                </div>

                <div>
                    <p>Our team combines industry knowledge with innovative stratergies to <br> help businesses thrieve
                        in a
                        comepetitive landscape . From tailored <br> Solutions to export guidence</p>
                </div>
            </div>
        </div>

    </section>

    <!-- Who we are -->
    <section class="ourinfo">
        <div class="ourinfoleft">
            <div class="log">
                <img src="/assets/images/4dot.png" alt="">
                <p>WHO WE ARE</p>
            </div>
            <h1>Empovering Businesses with expertise <br>and innovative solutions</h1>

            <div class="infohike">
                <div>
                    <h1>30%</h1>
                    <p>Business Performance</p>
                </div>
                <div>
                    <h1>20+</h1>
                    <p>Experts in Stratergy</p>
                </div>
            </div>

            <div class="info">
                <div>
                    <img src="/assets/images/worker.png" alt="">
                </div>
                <div>
                    <p>We combine stratergic insight,industry expertise,and creative thinking to drive growth and
                        transform visions into reality.Our team of experts is commited to providing personalized
                        stratergies with your goals.</p>
                    <button class="contactbtn us">
                        <a href="#">About Us</a>
                        <div class="arrow"><img src="/assets/images/arrowup.png" alt=""></div>
                    </button>
                </div>
            </div>
        </div>

        <div class="ourinforight">
            <img src="/assets/images/3people.png" alt="">
        </div>

    </section>

    <!-- Our Projects -->
    <section class="projects">

        <div class="log">
            <img src="/assets/images/4dot.png" alt="">
            <p>OUR PROJECTS</p>

        </div>
        <h2>Selected Works</h2>

        <div class="projectpreview">
            <div class="projectpic">
                <img src="/assets/images/ourproject1_enhanced.png" alt="">
                <h1>CodePulz</h1>
                <p>Your tech solution Hub! Buid Saas , software , Startup ,apps ,and <br> more</p>

            </div>
            <div class="projectpic">
                <img src="/assets/images/ourproject2_enhanced.png" alt="">
                <h1>Terix</h1>
                <p>Showcase your services ,projects and team with stunning visuals <br> and intuatitive navigation.</p>
            </div>

        </div>

        <div class="projectpreview">
            <div class="projectpic">
                <img src="/assets/images/ourproject3.png" alt="">
                <h1>BlackInk</h1>
                <p>Tattos , Piercing and Gromming intricate designs to trendy style, <br> we've got you covered!</p>

            </div>
            <div class="projectpic">
                <img src="/assets/images/ourproject4.png" alt="">
                <h1>Fitizo</h1>
                <p>Where elegance meets effortless booking for hotels , resorts, <br> vacation homes and apartments.</p>
            </div>

        </div>

    </section>


    <!-- what we do -->
    <section class="ourwork">

        <div class="log">
            <img src="/assets/images/4dot.png" alt="">
            <p>WHAT WE DO</p>

        </div>
        <h2>Our Services</h2>
        <div class="serviceinfo">
            <div class="serviceimg">
                <img src="/assets/images/ourservice1.png" alt="">
            </div>
            <div class="infos">
                <div>
                    <h1>Digital marketing</h1>
                    <p>Boost your brand's visibility and engagement with our <br> targeted digital marketing stratergies
                    </p>
                </div>
                <div>
                    <h1>(01)</h1>
                </div>
            </div>
        </div>
        <hr>

        <div class="serviceinfo">
            <div class="serviceimg">
                <img src="/assets/images/ourserviceweb.jpg" alt="">
            </div>
            <div class="infos">
                <div>
                    <h1>Web Development</h1>
                    <p>Axza Offers Cutting-edge web development services that <br>combine functionality, and stunning
                        design . </p>
                </div>
                <div>
                    <h1>(02)</h1>
                </div>
            </div>
        </div>
        <hr>

        <div class="serviceinfo">
            <div class="serviceimg">
                <img src="/assets/images/ourservice3.jpg" alt="">
            </div>
            <div class="infos">
                <div>
                    <h1>E-Commerece</h1>
                    <p>We help you to create optimized shopping experiance that <br> drives sales & Boosts customer
                        Satisfaction. </p>
                </div>
                <div>
                    <h1>(03)</h1>
                </div>
            </div>
        </div>


    </section>

    <!-- testimonials -->
    <section class="testimonials">
        <div class="log">
            <img src="/assets/images/4dot.png" alt="">
            <p>TESTIMONIALS</p>

        </div>
        <h1>Customers Review</h1>

        <div class="tcontent">

            <div class="tcontentpic">
                <img src="/assets/images/manreadbook.jpg" alt="">

            </div>
            <div class="tcontenttext">
                <div class="tlogo">
                    <div class="ticon">
                        <i class="fa-brands fa-slack" style="color: grey;"></i>
                        <h1>Global bank</h1>
                    </div>
                    <div class="stargrey">
                        <i class="fa-solid fa-star" style="color: grey;"></i>
                        <i class="fa-solid fa-star" style="color: grey;"></i>
                        <i class="fa-solid fa-star" style="color: grey;"></i>
                        <i class="fa-solid fa-star" style="color: grey;"></i>
                        <i class="fa-solid fa-star" style="color: #c2c2c2;"></i>
                    </div>


                </div>

                <div class="tcont">
                    <p>Axza transformed our business stratergy ,delivaring exceptional results.Their insights led to a
                        35% of increase in revenue within the first six months. Their team is knowledgable , responsive
                        and truly invested in our success.</p>

                    <h2>Brooklyn simmons - Toronto, US</h2>
                </div>

            </div>

        </div>



    </section>

    <!-- our blog -->
    <section class="blog">

        <div class="log">
            <img src="/assets/images/4dot.png" alt="">
            <p>OUR BLOG</p>

        </div>
        <h1>Articles & Resources</h1>

        <div class="article">
            <div class="peopletalk">
                <img src="/assets/images/peopletalk1.jpg" alt="">
                <p>MARKETING</p>
                <h3>Creating impactful marketing campagins </h3>
                <p>Learn how to design & execute marketing campagins that deliver measurable results.</p>
            </div>
            <div class="peopletalk">
                <img src="/assets/images/peopletalk2.jpeg" alt="">
                <p>BRANDING</p>
                <h3>The Power of strong brand identity</h3>
                <p>Explore the Essential elements of building a powerful brand identity.</p>
            </div>
            <div class="peopletalk">
                <img src="/assets/images/peopletalk3.avif" alt="">
                <p>CONSULTING</p>
                <h3>Navigating bussiness challenges with consulting </h3>
                <p>Find out how expert consulting can help you tackle complex business challenges.</p>
            </div>

        </div>

    </section>



    <!-- contactus -->
    <section class="contactus">

        <div class="purpleinfo imgs">
            <div>
                <img src="/assets/images/bulb.png" alt="">
                <h1>Empower your business with innovation</h1>

                <p>It's the face of your business. At Axza, we specialize in building and refining brand Identities not
                    only
                    capture attention but also resonate deeply with your target audience </p>
                <div class="poweredby">
                    <img src="/assets/images/poweredby.jpg" alt="">
                    <img src="/assets/images/poweredby2.png" alt="">
                </div>
            </div>
        </div>

        <div class="orangeinfo purpleinfo imgs">

            <div>
                <img src="/assets/images/range.png" alt="">
                <h1>Ready to Elevate your business?</h1>

                <p>Partner with us to unlock your businesse's full potential.Get started today with a tailored stratergy
                    that delivers real results. Let's take the next step together </p>
                <button class="contactbtn conts">
                    <a href="#">Contact Us</a>
                    <div class="arrow contacnt"><img src="/assets/images/arrowup.png" alt=""></div>
                </button>
            </div>

        </div>

    </section>

    <!-- footer -->
    <footer>
        <div class="brandinfo">
            <h1>Axza</h1>
            <h3>Delivaring innovative solutions that drive growth and elevate your <br> brand. Let's partner for your
                business success.</h3>

            <h3>Follow Us:</h3>
            <div class="socialicon">
                <div class="icons">
                    <a href="#"><i class="fa-brands fa-x-twitter" style="color: #ffff;"></i></a>

                </div>
                <div class="icons">
                    <a href="#"><i class="fa-brands fa-facebook-f" style="color: #ffff;"></i></a>
                </div>
                <div class="icons">
                    <a href="#"><i class="fa-brands fa-youtube" style="color: #ffff;"></i></a>
                </div>
                <div class="icons">
                    <a href="#"><i class="fa-brands fa-instagram" style="color: #ffff;"></i></a>
                </div>
            </div>
            <div class="socialiconnames">
                <p>twitter</p>
                <p>Facebook</p>
                <p>Youtube</p>
                <p>instagram</p>
            </div>
            <div class="axzalogo">
                <h1>Axza</h1>
            </div>
        </div>
        <div class="brandlinks">
            <div class="linkcolumn">
                <h3>pages</h3>
                <a href="#">about us</a>
                <a href="#">Services</a>
                <a href="#">works</a>
                <a href="#">Pricing</a>
                <a href="#"> Careers</a>
            </div>
            <div class="linkcolumn">
                <h3>Resources</h3>
                <a href="#">reviews</a>
                <a href="#">Blogs</a>
                <a href="#">FAQ</a>
                <a href="#">Contact Us</a>
            </div>
            <div class="linkcolumn">
                <h3>Utility</h3>
                <a href="#">Style Guide</a>
                <a href="#">Licensing</a>
                <a href="#">Changelog</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Cookie Policy</a>
                <a href="#">Terms & Conditions</a>
            </div>

        </div>


    </footer>
</body>

</html>